@*
@model IEnumerable<views.Models.Employee>
    *@

@model IEnumerable<Employee>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee List";
}

@*
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>

       <table>
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Name</th>
                   <th>Department</th>
               </tr>
           </thead>
           <tbody>
               @foreach(var employee in Model)
               {
               <tr>
                   <td>@employee.Id</td>
                   <td>@employee.Name</td>
                   <td>@employee.Department</td>
               </tr>
               }
           </tbody>
       </table>
    </body>
    </html>
*@
@*
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
            </tr>
        }
    </tbody>
</table>
    *@
<div class="card-deck">
    @foreach(var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h1>@employee.Name</h1>
            </div>
            <img class="card-img-top" src="~/images/natureimage.jpg"/>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"
                   class="btn btn-primary">View</a>  |
                @*

                @Html.ActionLink("View", "details", "home", new { id = employee.Id })
                <a href="/home/details/@employee.Id" class="btn btn-primary">View</a>
                    *@
                <a href="#" class="btn btn-primary">Delete</a>
                <a href="#" class="btn btn-primary">Edit</a>
            </div> 
        </div>
    }
</div>
